body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: url('ETrobo.png');
    background-size: cover;
    background-repeat:no-repeat;
    background-color: rgb(93, 162, 194);
}

.container{
    text-align: center;
    padding: 20px;
}

h1 {
text-align: center;
}

input[type="text"] {
width: 70%;
padding: 8px;
font-size: 16px;
}

button {
padding: 16px 32px;
font-size: 16px;
cursor: pointer;
}

#output {
margin-top: 20px;
}

#output p {
font-size: 16px;
}

#output strong {
color: #0066cc;
}